<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gorrafy</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/productos.css">
</head>
<body> 
    <header>
        <!-- NAVBAR -->
        <nav class="menu">
            
            <div class="burger-menu">
                <i class="fas fa-bars hambu"></i>
           </div>

            <ul class="hidden">
              <li><a class="text--navbar" href="/productos">Productos</a></li>
              <li><a class="text--navbar" href="#">Novedades</a></li>
              <li><a class="text--navbar" href="#"></a></li>
            </ul>

            <a href="/">
                <h2 class="logo">Gorrafy</h2>
            </a>

            <ul class="hidden">
              <li><a class="text--navbar" href="#">¿Quienes Somos?</a></li>
              <li><a class="text--navbar" href="#">Tiendas</a></li>
            </ul>

            <ul class="iconos">
                <li><a href="/login"><i class="icon--navbar far fa-user hide--icon"></i></a></li>
                <li><a href="#"><i class="icon--navbar far fa-question-circle hide--icon"></i></a></li>
                <li><a href="/compra"><i class="icon--navbar fas fa-shopping-cart"></i></a></li>
            </ul>

        </nav>
    </header>

    <!-- Main -->
    <section class="main">
        <div class="banner">
            <div class="ghost"></div>
            <p class="title">SI TE VAS A GORREAR.
                GORREATE BIEN.</p>
            <div class="squares">
                <div class="square">SHOP 1</div>
                <div class="square">SHOP 2</div>
            </div>
        </div>

        <div class="frame2">
            <p class="title--2">Nuestros Favoritos</p>
            <div class="select">
                <p class="favs active">GORRAS</p>
                <p class="favs">SOMBREROS</p>
                <p class="favs">OTROS</p>
            </div>

            <hr class="favs--line">

            <div class="setOfCards">
                <div class="card">
                    <img src="/img/gorra-1.jpg" alt="">
                    <p class="card--title">Tree Hat</p>
                    <hr class="card--line">
                    <p class="card--description">Classic light-green beach hat</p>
                    <div class="card--btn">AGREGAR AL CARRITO</div>
                </div>
                <div class="card hidden">
                    <img src="/img/palmera-home.jpg" alt="">
                    <p class="card--title">Tree Hat</p>
                    <hr class="card--line">
                    <p class="card--description">Classic light-green beach hat</p>
                    <div class="card--btn">AGREGAR AL CARRITO</div>
                </div>
                <div class="card hidden">
                    <img src="/img/palmera-home.jpg" alt="">
                    <p class="card--title">Tree Hat</p>
                    <hr class="card--line">
                    <p class="card--description">Classic light-green beach hat</p>
                    <div class="card--btn">AGREGAR AL CARRITO</div>
                </div>
            </div>


        </div>

        <div class="frame3">
            <img src="/img/gorra-home.jpg" alt="">
        </div>

        <div class="frame4">
            <p class="title--2">Gorras personalizadas. Parches personalizados.</p>
            <p class="subtitle">Diseña tu gorra, sombrero o piluso con el diseño que vos quieras. 100% personalizado y único.</p>
            <div class="squares--black">
                <div class="square--black">SHOP 1</div>
                <div class="square--black">SHOP 2</div>
            </div>
        </div>

        <div class="frame5">
            <p class="title--3">Stories</p>
            <div class="setOfCards">
                <div class="card">
                    <img src="/img/skater-home.jpg" alt="">
                    <p class="card--title">Kyle:</p>
                    <hr class="card--line">
                    <p class="card--description">Su vida gira sobre ruedas pero sin Gorrafy no sería posible.</p>
                    <div class="card--btn">CONOCE MÁS</div>
                </div>
                <div class="card hidden">
                    <img src="/img/skater-home.jpg" alt="">
                    <p class="card--title">Kyle:</p>
                    <hr class="card--line">
                    <p class="card--description">Su vida gira sobre ruedas pero sin Gorrafy no sería posible.</p>
                    <div class="card--btn">CONOCE MÁS</div>
                </div>
                <div class="card hidden">
                    <img src="/img/skater-home.jpg" alt="">
                    <p class="card--title">Kyle:</p>
                    <hr class="card--line">
                    <p class="card--description">Su vida gira sobre ruedas pero sin Gorrafy no sería posible.</p>
                    <div class="card--btn">CONOCE MÁS</div>
                </div>
            </div>
        </div>

        <div class="frame6">
            <p class="title--2">¿Quieres recibir novedades?</p>
            <p class="subtitle">Unete a nuestra lista de email y se el primero en enterarte de los productos de edición limitada, las nuevas incorporaciones y otras actualizaciones.</p>
            <form action="/" class="novedades">
                <label for="mail"></label>
                <input type="email" name="mail" id="mail" placeholder="Ingresa Tu Dirección de Email">
                <button>INGRESA</button>
            </form>
            <p class="copyright">Note: You can opt-out at any time. See our Privacy Policy and Terms.</p>
        </div>

    </section>

    <!-- Footer -->

    <footer>
        <div class="footer--list">
          <section class="footer--section">
            <p class="footer--title">Help</p>
                <div class="footer--text">
                    <ul>
                        <li>1-888-963-8944</li>
                        <li>1-814-251-9966 (Text)</li>
                        <li>help@allbirds.com</li>
                        <li>Returns/Exchanges</li>
                        <li>FAQ/Contact Us</li>
                    </ul>
                </div>
          </section>

          <div class="footer--section">
                <p class="footer--title">Shop</p>
                <div class="footer--text">
                    <ul>
                        <li>Men's Shoes</li>
                        <li>Women's Shoes</li>
                        <li>Men's Apparel</li>
                        <li>Women's Apparel</li>
                        <li>Socks</li>
                        <li>Gift Cards</li>
                        <li>Download the Gorrafy App</li>
                    </ul>
                </div>
          </div>
          <section class="footer--section">
                <p class="footer--title">Compania</p>
                <div class="footer--text">
                    <ul>
                        <li>Nuestras Tiendas</li>
                        <li>Nuestra Historia</li>
                        <li>Nuestros Materiales</li>
                        <li>Sustentabilidad</li>
                        <li>Socios y Afiliados</li>
                        <li>Prueba de Producto</li>
                        <li>Ventas por Mayor</li>
                        <li>Prensa</li>
                    </ul>
                </div>
          </section>

          <section class="footer--section">
                <p class="footer--title">Follow Gorrafy</p>
                    <div class="footer--text">
                        <p class="footer--last">Ofertas exclusivas, ultimas <br> novedades y las mejores formas <br> de gorrearse. #gorreate</p>
                        <ul>
                            <li> <i class="fab fa-facebook"></i> <i class="fab fa-twitter"></i> <i class="fab fa-instagram"></i> <i class="fab fa-pinterest"></i> </li>
                        </ul>
                    </div>
          </section>
        </div>
                <p class="copyright">© 2021 Gorrafy, Inc. All Rights Reserved. Terms, Privacy & Accessibility</p>
            
        </footer>
        
    </body>
</html>