<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gorrafy || Producto</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/productos.css">
</head>
<body> 
    <header>
        <!-- NAVBAR -->
        <nav class="menu">
            
            <div class="burger-menu">
                <i class="fas fa-bars hambu"></i>
           </div>

            <ul class="hidden">
              <li><a class="text--navbar" href="/productos">Productos</a></li>
              <li><a class="text--navbar" href="#">Novedades</a></li>
              <li><a class="text--navbar" href="#"></a></li>
              <li><a class="text--navbar" href="#"></a></li>
            </ul>

            <a href="/">
                <h2 class="logo">Gorrafy</h2>
            </a>

            <ul class="hidden">
              <li><a class="text--navbar" href="#">¿Quienes Somos?</a></li>
              <li><a class="text--navbar" href="#">Tiendas</a></li>
            </ul>

            <ul class="iconos">
                <li><a href="/login"><i class="icon--navbar far fa-user hide--icon"></i></a></li>
                <li><a href="#"><i class="icon--navbar far fa-question-circle hide--icon"></i></a></li>
                <li><a href="/compra"><i class="icon--navbar fas fa-shopping-cart"></i></a></li>
            </ul>

        </nav>
    </header>

    <!-- Main -->
    <section class="main">
        <ul class="breadcrumb">
            <li><a href="/">Inicio</a></li>
            <li><a href="#">Productos</a></li>
            <li>Dad Hat Lyon</li>
        </ul>
    <div class="full--size">

        <div class="img--col">
        <!-- 1/3 de Izquierda -->
            <div class="full--size--left">
                <div class="product--small--img">
                    <img src="/img/gorra-1.jpg" alt="">
                    <img src="/img/gorra-1.jpg" alt="">
                    <img src="/img/gorra-1.jpg" alt="">
                    <img src="/img/gorra-1.jpg" alt="">
                </div>
            </div>

            <!-- 1/3 del Medio  -->
            
                <div class="product--img">
                    <img src="/img/gorra-1.jpg" alt="">
                </div>

        </div>

        <!-- 1/3 derecho -->
        <div class="full--size--right">
            
            <div class="product--tp">
                <h2 class="product--title">Gorra | Dad Hat Lyon</h2>
                <h2 class="product--price">$2890</h2>
            </div>


        <div class="product--buttons">
            <button class="button--1"> - <span> 1 </span> + </button>
            <button class="button--2"> Agregar al carrito </button>
        </div>

        <div class="product--description">
            <ul>
                <li>•  Gorra sin estructura de visera semi curva, color lavado con bordado en el frente</li>
                <li>•  Hecha con <b>algodón orgánico</b></li>
                <form class="product--selection" action="">
                <label for="sizes">Selecciona tu talle:</label>
                    <select id="sizes" name="sizes">
                      <option value="0">S</option>
                      <option value="1">M</option>
                      <option value="2">L</option>
                    </select> <br>
                    <label for="cap-color">Selecciona tu color:</label>
                    <select id="cap-color" name="cap-color">
                      <option value="Negro">Negro</option>
                      <option value="Rojo">Rojo</option>
                      <option value="Azul">Azul</option>
                    </select>
                    
                </form>
            </ul>
        </div>


        </div>


        

    </div>


    </section>

    <!-- Footer -->

    <footer>
        <div class="footer--list">
          <section class="footer--section">
            <p class="footer--title">Help</p>
                <div class="footer--text">
                    <ul>
                        <li>1-888-963-8944</li>
                        <li>1-814-251-9966 (Text)</li>
                        <li>help@allbirds.com</li>
                        <li>Returns/Exchanges</li>
                        <li>FAQ/Contact Us</li>
                    </ul>
                </div>
          </section>

          <section class="footer--section">
            <p class="footer--title">Shop</p>
            <div class="footer--text">
                <ul>
                    <a href="/productos">
                        <li>Productos</li>
                    </a>
                    <a href="/compra">
                        <li>Carrito</li>
                    </a>
                    <a href="/register">
                        <li>Crea un usuario</li>
                    </a>
                    <a href="/login">
                        <li>Inicia Sesión</li>
                    </a>
                </ul>
            </div>
        </section>

          <section class="footer--section">
                <p class="footer--title">Compania</p>
                <div class="footer--text">
                    <ul>
                        <li>Nuestras Tiendas</li>
                        <li>Nuestra Historia</li>
                        <li>Nuestros Materiales</li>
                        <li>Sustentabilidad</li>
                        <li>Socios y Afiliados</li>
                        <li>Prueba de Producto</li>
                        <li>Ventas por Mayor</li>
                        <li>Prensa</li>
                    </ul>
                </div>
          </section>

          <section class="footer--section">
                <p class="footer--title">Follow Gorrafy</p>
                    <div class="footer--text">
                        <p class="footer--last">Ofertas exclusivas, ultimas <br> novedades y las mejores formas <br> de gorrearse. #gorreate</p>
                        <ul>
                            <li> <i class="fab fa-facebook"></i> <i class="fab fa-twitter"></i> <i class="fab fa-instagram"></i> <i class="fab fa-pinterest"></i> </li>
                        </ul>
                    </div>
          </section>
        </div>
                <p class="copyright">© 2021 Gorrafy, Inc. All Rights Reserved. Terms, Privacy & Accessibility</p>
            
        </footer>
</body>
</html>