<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>

<div class="admin-btn">
<a href="/admin/agregar"><button class="btn-admin" type="submit">AGREGAR PRODUCTO</button></a>
<a href="/admin/editar"><button class="btn-admin" type="submit">EDITAR PRODUCTO</button></a>
</div>

<%- include('./partials/footer.ejs') %>