<%- include('./partials/head.ejs') %>

<div class="container-form">
<a href="/admin/agregar"><button class="btn-signup" type="submit">AGREGAR PRODUCTO</button></a>
<a href="/admin/editar"><button class="btn-signup" type="submit">EDITAR PRODUCTO</button></a>
</div>

<%- include('./partials/footer.ejs') %>